extends layout

block append stylesheets
    link(rel='stylesheet' type='text/css' href=layout.funnelCss media='screen,projection')

block header
    include ./header/registration-header

block mainContent
    div.container
        include home-page/info-form
        include home-page/error-form
        div#registration-app
            !=react.renderedApp

block append javascripts
    script.
        var registrationProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)
    //can be loaded after because not needed at initial load
    script(type = 'text/javascript' src=layout.funnelJs)
    script
        include pyk-charts/funnel-chart.js