extends layout

block nav
    include nav/registration-nav

block header
    include ./header/registration-header

block mainContent
    div.container
        include home-page/info-form
        include home-page/error-form
        div#registration-app
            !=react.renderedApp

block append javascripts
    script.
        var registrationProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)