extends layout

block header
    include ./header/registration-header

block mainContent
    div.container
        include home-page/info-form
        include home-page/error-form
        div.card.grey.lighten-5: div.container
            div#registration-app
                !=react.renderedApp

block append javascripts
    script.
        var registrationProps = !{JSON.stringify(react.initProps).replace(/<\//g, "<\\/")};
    script(type = 'text/javascript' src=react.bundle)
