extends layout

block mainContent
    div.container
        include home-page/info-form
        include home-page/error-form
        div.card.grey.lighten-5: div.row
            p= 'Welcome Sales Manager' + JSON.stringify(content.user)
            p= 'Welcome National Sales Manager' + JSON.stringify(content.user)