extends layout

block append stylesheets
    link(rel='stylesheet' type='text/css' href=layout.funnelCss media='screen,projection')

block header
    include ./header/salesfunnel-header

block mainContent
    div.container
        include home-page/info-form
        include home-page/error-form
        div.card.grey.lighten-5: div.container
            div#my_chart

block append javascripts
    script(type = 'text/javascript' src=layout.funnelJs)
    script.
        window.PykChartsInit = function (e) {
            var k = new PykCharts.oneD.funnel({
                "selector": "#my_chart",
                "data": [{
                    "name": "visits",
                    "weight": "100",
                    "tooltip": "<b>Total sales:</b> 100"
                },
                    {
                        "name": "proposals",
                        "weight": "75",
                        "tooltip": "<b>Total sales:</b> 75"
                    }, {
                        "name": "negos",
                        "weight": "50",
                        "tooltip": "<b>Total sales:</b> 50"
                    }, {
                        "name": "deals",
                        "weight": "5",
                        "tooltip": "<b>Total sales:</b> 25"
                    }
                ],
                "color_mode": "shade",
                "shade_color": "#ffb300",
                "credit_my_site_name": "Cazamundo GCV",
                "credit_my_site_url": "http://www.cazamundo.be",
                "data_source_name": "AB Inbev",
                "data_source_url": "http://www.ab-inbev.com/"
            });
            k.execute();
        }