div.nav-wrapper
    div.container
        a(href="#!").brand-logo.left: img(src="images/logo.png")
        ul.right
            li: a.goToLogin(href="#login") Login
            li: a.goToSignup(href="#signup") Sign up