div.nav-wrapper
    div.container
        a(href="#!").brand-logo.left: img(src="/images/logo.png")
        ul.right
            if !isAuthenticated
                li: a.goToLogin(href="/#login") Log in
                li: a.goToSignup(href="/#signup") Sign up
            else
                if isAdmin
                    li: a(href="/") Home
                    li: a(href="/admin") Admin
                li: a(href="/logout") Log out
