div.nav-wrapper
    div.container
        a(href="#!").brand-logo.left: img(src="/images/logo.png")
        ul.right
            li: a(href="/salesfunnel") Salesfunnel
            if isAdmin
                li: a(href="/admin") Admin
            li: a(href="/logout") Log out
