div.container
    h2.header Create new password
    div.row: form.col.s12(method="post" action=pwResetToken)
        div.row: div.input-field.col.s12
            i.material-icons.prefix vpn_key
            input(id="newpassword" name="newpassword" type="password")
            label(for="password") Password
        div.row: div.input-field.col.s12
            i.material-icons.prefix vpn_key
            input(id="cnewpassword" name="cnewpassword" type="password")
            label(for="cpassword") Confirm your password
        button.btn-large.waves-effect.waves-light(class="submit" type="submit" value="Submit") Update password
            i.material-icons.right send
    div.row
        p.caption
            | Remember your old password again?
            a.goToLogin(href="/login")  Login here.
