div.container
    h2.header Login
    div.row: form.col.s12#loginValidate(method="post" action="login")
        div.row: div.input-field.col.s12
            i.material-icons.prefix email
            input(id="username" type="email" name="username")
            label(for="username") Email
        div.row: div.input-field.col.s12
            i.material-icons.prefix vpn_key
            input(id="password" type="password" name="password")
            label(for="password") Password
        button.btn-large.waves-effect.waves-light(class="submit" type="submit" value="Submit") Log in
            i.material-icons.right send
        div.row: div.col.s12
            p.caption
                | If you don't have an account yet,
                a.goToSignup(href="#signup")  sign up first.
            p.caption
                | If you forgot your password,
                a(href="reset-password")  reset it.
