div.container
    h2.header Reset Password
    div.row: form.col.s12#resetPasswordValidate(method="post" action="reset-password/mail")
        div.row: div.input-field.col.s12
            i.material-icons.prefix email
            input(id="email" type="email" name="email")
            label(for="email") Email
        button.btn-large.waves-effect.waves-light(class="submit" type="submit" value="Submit") Reset password
            i.material-icons.right send
        div.row: div.col.s12
            p.caption
                | If you don't have an account yet,
                a.goToSignup(href="login#signup")  sign up first.
            p.caption
                | If you suddenly remember your password again,
                a(href="login")  login here.
