div.container
    h2.header Sign up
    div.row: form.col.s12
        div.row: div.input-field.col.s12
            i.material-icons.prefix perm_identity
            input(id="username" type="text" class="validate" required="" aria-required="true")
            label(for="username") Username
        div.row: div.input-field.col.s12
            i.material-icons.prefix email
            input(id="email" type="email" class="validate" required="" aria-required="true")
            label(for="email") Email
        div.row
            div.col.s1
                i.material-icons.prefix contacts
            div.input-field.col.s11
                select
                    option(value="" disabled selected) Choose your role
                    each role in content.roles
                        option(value=role.id)=role.roleName
                label Role
        div.row
            div.col.s1
                i.material-icons.prefix loyalty
            div.input-field.col.s11
                select
                    option(value="" disabled selected) Choose your team
                    each team in content.teams
                        option(value=team.id)=team.teamName
                label Team
        div.row: div.input-field.col.s12
            i.material-icons.prefix vpn_key
            input(id="password" type="password" class="validate" required="" aria-required="true")
            label(for="password") Password
        button.btn-large.waves-effect.waves-light(type="submit", name="action") Sign up
            i.material-icons.right send
        div.row: div.col.s12
            p.caption
                | Do you already have an account?
                a.goToLogin(href="#login")  Login here.