.parallax-container
    .parallax: img(src="images/wallpaper-inbev.jpg")
.section.white
    .row.container
        h2.header Sales funnel reporting tool
        p.grey-text.text-darken-3.lighten-3=metaData.description